@import ../modules/all

body
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif

a
    color: #00b7ff

div#loading
    z-index: 10000
    div.overlay
        +overlay
    div.spinner
        background-image: url("../images/ajax-loader.gif")
        +center(24px, 24px)
        z-index: 1

header
    background-color: #ffb800
    height: 30px
    padding: 10px 10px 0 10px