@import ../modules/all

body
    padding: 5px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
    color: #00B7FF

div#loading
    z-index: 10000
    div.overlay
        @include overlay
    div.spinner
        background-image: url("../images/ajax-loader.gif")
        @include center(24px, 24px)
        z-index: 1