@import ../modules/all

body
    padding: 5px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
    color: #00b7ff

div#loading
    z-index: 10000
    div.overlay
        +overlay
    div.spinner
        background-image: url("../images/ajax-loader.gif")
        +center(24px, 24px)
        z-index: 1