extends layout

block scripts
    script(type="text/javascript", src="/javascripts/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/chat.js")

block content
  h1= title
  a(href="/chat?i=123") Get link