extends layout

block content
  h1= title
  div(ng-controller="client", ng-cloak)
    include partials/connectionStatus.jade
    div#connect(ng-if="chatStatus.status=='idle'")
      input(type="text", ng-model="clientData.name", placeholder="Enter your name")
      br
      input(type="email", ng-model="clientData.email", placeholder="Enter your eamil")
      br
      input(type="button", value="access", ng-click="connect()")

    div#wait(ng-if="chatStatus.status=='waiting'")
      p All operators are busy
      p You are the {{chatStatus.waitPosition}} in the wait position

    div#connected(ng-if="chatStatus.status=='connected'")
      div(ng-if="chatWindow", ng-include, src="chatWindow.src")

block angular-templates
  include templates/client.chatWindow.jade