extends layout

block scripts
    script(type="text/javascript", src="/javascripts/require.js", data-main="/javascripts#{buildPath}index")

block content
  h1= title
  div(ng-controller="index", ng-cloak)
      p Total Rooms: {{status.totalRooms}}
      p Open Rooms: {{status.openRooms}}
      p Users Waiting: {{status.usersWaiting}}
      div
        p Users Connected to this App: 
        ul
          li(ng-repeat="user in status.usersConnected.users")
            | {{user.name}} - ({{user.email}})
      p
        a(href="/chat/client?i=123") open client
      p
        a(href="/chat/operator?i=123") open operator