extends layout

block content
  h1= title
  div(ng-controller="index", ng-cloak)
    include partials/connectionStatus.jade

    p(translate) Total Rooms: {{status.totalRooms}}
    p(translate) Open Rooms: {{status.openRooms}}
    p(translate) Users Waiting: {{status.usersWaiting}}
    div
      p(translate) Users Connected to this App: 
      ul
        li(ng-repeat="user in status.usersConnected.users")
          | {{user.name}} - ({{user.email}})
    p
      a(href="/chat/client?i=123", translate) open client
    p
      a(href="/chat/operator?i=123", translate) open operator