extends layout

block scripts
    script(type="text/javascript", src="/javascripts/require.js", data-main="#{requirePath}/operator.js")

block content
  h1= title
  div(ng-controller="operator", ng-cloak)
    #connect(ng-if="chatStatus.status=='idle'")
      input(type="text", ng-model="clientData.name", placeholder="Enter your name")
      br
      input(type="email", ng-model="clientData.email", placeholder="Enter your eamil")
      br
      input(type="button", value="access", ng-click="connect()")

    #connected(ng-if="chatStatus.status=='connected'")
      div
        p Users Connected to this App: 
        ul
          li(ng-repeat="user in status.usersConnected.users")
            a(href="javascript:void(0);", ng-click="openChat(user.id)") {{user.name}} - ({{user.email}})
      
      div#chatWindows
        div.chatWindow(ng-repeat="window in chatWindows", ng-include, src="window.src")

block angular-templates
  script(type="text/ng-template", id="/operator/chatWindow.html")
    div.chat
      div.messages
        p(ng-repeat="message in window.room.messages")
          | {{message | json}}
      div.typeArea
        input(type="text", ng-model="window.typingMessage")
        input(type="button", ng-click="window.sendMessage()", value="send message")
    div.chat-tab
      span {{window.room.user.name}}
      a(href="javascript:void(0);", ng-click="window.closeChat()") x