extends layout

block content
  h1= title
  div(ng-controller="operator", ng-cloak)
    include partials/connectionStatus.jade

    div#connect(ng-if="chatStatus.status=='idle' && !connectionStatus")
      input(type="text", ng-model="clientData.name", placeholder="{{'Enter your name'|translate}}")
      br
      input(type="email", ng-model="clientData.email", placeholder="{{'Enter your eamil'|translate}}")
      br
      input(type="button", value="{{'access'|translate}}", ng-click="connect()")

    div#connected(ng-if="chatStatus.status=='connected'")
      a(href="javascript:void(0);", ng-click="exit()", translate) exit
      div
        p(translate) Users Connected to this App: 
        ul
          li(ng-repeat="user in status.usersConnected.users")
            a(href="javascript:void(0);", ng-click="openChat(user.id)") {{user.name}} - ({{user.email}})
      
      div#chatWindows
        div.chatWindow(ng-repeat="window in chatWindows", ng-include, src="window.src")

block angular-templates
  include templates/operator.chatWindow.jade